*
{
	margin:0;
	padding:0;
}

html,body
{
	width: 100%;
	height:100%;
}

#main_wrapper
{
	display: grid;

	grid-template-rows: repeat(4,25%);
	grid-template-columns: repeat(10,10%);

	width: 100%;
	height: 100%;
}

	#canvas_block
	{
		grid-column:1/ end;
		grid-row:1/4;

		display: flex;
		flex-direction: column;
		align-items: center;


		background: ;
	}
		#title_text  /*FONTS*/
		{
			font-size: 150%;
			font-weight:bold;
		}



		canvas
		{
			border:.2em solid black;
			margin:auto;
			background-color: ;
			width: 40%;
			height: 80%;
		}

	#menu_block
	{
		grid-column:2/10;
		grid-row:4/5;

		background: ;
	}

		#menu_form
		{
			width: 100%;
			height: 100%;

			background-color: ;

			display: flex;
			flex-direction: column;
		}

			#select_block
			{
				width: 100%;
				height: 30%;

				display: flex;

				background-color: ;

			}

				#select_field
				{
					margin:auto;
					font-size: 150%;
				}

			#otherFields_block
			{
				width: 100%;
				height: 70%;

				display: flex;
				justify-content: space-around;

				background-color: ;
			}

				#XY_block
				{
					width: 40%;
					height: 100%;

					border:1px solid lightgreen;
					border-radius: .5em;

					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;

					background-color:;

				}

					#X_block
					{
						width: 100%;
						height: 40%;

						}

					.X_fields
					{
						max-height:;
						font-size: ;

						font-size:150%;
						width: 20%;

						border:1px solid lightgreen;
						border-radius: .5em;

						background-color: silver;
					}


					}

						#X_field
						{

						}

						#A_field
						{

						}

						#B_field
						{

						}



					#Y_block
					{
						width: 100%;
						height: 40%;

						background-color: ;
					}

					.Y_fields
					{
						max-height:;
						font-size:150%;
						width: 20%;

						border:1px solid lightgreen;
						border-radius: .5em;

						background-color: silver;
					}
					}

						#Y_field
						{

						}

						#C_field
						{

						}

						#D_field
						{

						}


				#function_block
				{
					width: 40%;
					height: 100%;

					display: flex;

					background-color: ;
				}

					#function_block2
					{
					   margin:auto;
					   width: 90%;
					   height: 90%;

					   display: flex;

					   background-color: ;
					}
						#function_block2 label {

							width: 100%;
							height: 100%;
						}

						#function_block2 label /*FONTS*/
						{
							font-size: 120%;
						}

						#function_field
						{
							background-color:silver;
							border-radius: .4em;

							font-size: 150%;

							width: 85%;
							height:30%;
						}

						#function_field:focus
						{
							animation:shadow 1s infinite ease-in-out;
							animation-direction: alternate-reverse;
						}

						@keyframes shadow {
							0%
							{


								-webkit-box-shadow: 0px 0px 0px 7px rgba(209,178,209,.1);
								-moz-box-shadow: 0px 0px 0px 7px rgba(209,178,209,.1);
								box-shadow: 0px 0px 0px 7px rgba(209,178,209,.1);
							}

							50%
							{
								-webkit-box-shadow: 0px 0px 0px 7px rgba(209,178,209,.5);
								-moz-box-shadow: 0px 0px 0px 7px rgba(209,178,209,.5);
								box-shadow: 0px 0px 0px 7px rgba(209,178,209,.5);
							}

							100%
							{
								-webkit-box-shadow: 0px 0px 0px 7px rgba(209,178,209,1);
								-moz-box-shadow: 0px 0px 0px 7px rgba(209,178,209,1);
								box-shadow: 0px 0px 0px 7px rgba(209,178,209,1);
							}
						}
